# ⚙️ Config
config/local.js
.env

# 📦 Node modules
node_modules/

# 🚧 Sails temporary files
.tmp/

# 🧪 Logs & debugging
npm-debug.log
*.log
*.out
*.pid

# 🧹 Editor & OS junk
*~
*#
.DS_Store
.idea/
.vscode/
.node_history

# 💥 Misc
*.seed
dump.rdb

